body {
	margin: 30px;
     
	}
     h1{
      text-align: center;
          color: rgb(94, 25, 62);
     }
     .box{
     
      width: 200px;
      background-color: #ffffff;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 5px 5px 10px #cccccc;
    }
    .box:hover{
      transform: scale(1.1);
      transition: .1s;
    }
